<!doctype html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <title>Vehicle Lookup List</title>
  </head>
  <body>
    <a href="#" onclick="history.back()" style="color: blue; display: block; margin-bottom: 16px">Back</a>
    <h1>Vehicle Lookup Demo List</h1>
    <ul>
      <li>
        <a href="./vehicle-lookup.html">Vehicle Lookup</a>
      </li>

      <li>
        <a href="./vehicle-claimable-items.html">Vehicle Claimable Items</a>
      </li>
      <li>
        <a href="./vehicle-warranty-details.html">Vehicle Warranty Details</a>
      </li>
      <li>
        <a href="./vehicle-service-history.html">Vehicle Service History</a>
      </li>
      <li>
        <a href="./vehicle-specification.html">Vehicle Specification</a>
      </li>
      <li>
        <a href="./vehicle-paint-thickness.html">Vehicle Paint Thickness</a>
      </li>
      <li>
        <a href="./vehicle-accessories.html">Vehicle Accessories</a>
      </li>
    </ul>
  </body>
</html>
