:root > * {
  --md-primary-fg-color: #df0a1c;
  /*--md-primary-fg-color--light: #fbdb84;
    --md-primary-fg-color--dark: #f0b81c;*/
  --md-accent-fg-color: #df0a1c;
  --md-primary-bg-color: white;
  --md-typeset-a-color: #b80010;
  --md-code-hl-color--light: #f4433621;
  --md-code-hl-color: black;
  --md-mermaid-node-bg-color: #ffeded;
}

.md-header__button.md-logo {
  margin: 0;
  padding: 0;
  padding-left: 13px;
  padding-top: 2px;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 1.8rem;
}

table code {
  white-space: nowrap;
}

.md-typeset__table {
  width: 100%;
}

.md-typeset__table table:not([class]) {
  display: table;
}

.interactive-btn {
  position: relative;
}
.interactive-btn.loading span {
  visibility: hidden;
}
.interactive-btn img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 20px;
  height: 20px;
}
.interactive-btn.loading img {
  display: block;
}
.interactive-input {
  border: 1px solid black;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
}
.interactive-input-error {
  color: red;
  font-size: 14px;
}

.swagger-ui .btn.authorize,
.swagger-ui .response-control-media-type__accept-message {
  color: var(--md-primary-fg-color) !important;
}
.swagger-ui .btn.authorize,
.swagger-ui .response-control-media-type--accept-controller select {
  border-color: var(--md-primary-fg-color) !important;
}
.swagger-ui .btn.authorize svg {
  fill: var(--md-primary-fg-color) !important;
}
.swagger-ui .info .title small.version-stamp {
  background-color: var(--md-primary-fg-color) !important;
}
.swagger-ui .auth-btn-wrapper {
  gap: 10px;
}
.swagger-ui .info hgroup.main a {
  display: none;
}

.sidebar-group.sidebar-indent-nested {
  margin: 0 !important;
  margin-inline-start: 0;
  margin-left: 0 !;
}
.sidebar-group-item,
.scalar-icon-button {
  margin: 0 !important;
}
.sidebar-heading p {
  height: auto !important;
}

.section-accordion-content-card .endpoint-content {
  grid-template-columns: 1fr !important;
}

.md-content {
  text-align: justify;
}

.image-with-border {
  padding: 4px;
  max-width: 100%;
  margin: 0px auto;
  border-radius: 8px;
  border: 2px solid #df0a1c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
