<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Elements</title>
    <script nomodule src="/build/shift-components.js"></script>
    <script type="module" src="/build/shift-components.esm.js"></script>
    <script src="./mock-data.js"></script>
  </head>
  <style>
    body {
      padding: 10px;
    }
  </style>
  <body>
    <a href="#" onclick="history.back()" style="color: blue; display: block; margin-bottom: 16px">Back</a>
    <h1 style="margin-bottom: 32px">Form Elements</h1>
    <form-input id="input1" label="Sample Input"></form-input>
  </body>
</html>
