<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vehicle Specification</title>
    <script nomodule src="/build/shift-components.js"></script>
    <script type="module" src="/build/shift-components.esm.js"></script>
    <script src="./mock-data.js"></script>
  </head>
  <body>
    <a href="../index.html">back</a>
    <h1>Vehicle Specification</h1>
    <vehicle-specification is-dev="true" query-string="" id="vehicle-specification" base-url="http://localhost:7174/api/secure-vehicle-lookup-test/"> </vehicle-specification>

    <div class="button-container">
      <button class="dynamic-claim-button sample-button" onclick="fetchData()">reload</button>
      <button class="dynamic-claim-button sample-button" onclick="fetchData('')">Empty (close)</button>
      <button class="dynamic-claim-button sample-button" onclick="fetchData('error')">Error</button>
      <button class="dynamic-claim-button sample-button" onclick="fetchData('JTMHX01J8L4198295')">JTMHX01J8L4198295</button>
      <button class="dynamic-claim-button sample-button" onclick="fetchData('JTMHX01J8L4198296')">JTMHX01J8L4198296</button>
      <button class="dynamic-claim-button sample-button" onclick="fetchData('MR0BX8CD3P2791075')">MR0BX8CD3P2791075</button>
      <button class="dynamic-claim-button sample-button" onclick="fetchData('JTMHX01J8L4198299')">JTMHX01J8L4198299</button>
      <button class="dynamic-claim-button sample-button" onclick="fetchData('JTMABBBJ9P4099243')">JTMABBBJ9P4099243</button>
      <button class="dynamic-claim-button sample-button" onclick="fetchData('JTMHU09J6E4100543')">JTMHU09J6E4100543</button>
      <button class="dynamic-claim-button sample-button" onclick="fetchData('JTMABBBJ9P4099200')">JTMABBBJ9P4099200</button>
    </div>

    <h3>offline Loads</h3>
    <div class="button-container">
      <button class="dynamic-claim-button sample-button" onclick="setData('')">Empty</button>
      <button class="dynamic-claim-button sample-button" onclick="setData('error')">Error</button>
      <button class="dynamic-claim-button sample-button" onclick="setData('JTMHX01J8L4198295')">JTMHX01J8L4198295</button>
      <button class="dynamic-claim-button sample-button" onclick="setData('JTMHX01J8L4198296')">JTMHX01J8L4198296</button>
      <button class="dynamic-claim-button sample-button" onclick="setData('MR0BX8CD3P2791075')">MR0BX8CD3P2791075</button>
      <button class="dynamic-claim-button sample-button" onclick="setData('JTMHX01J8L4198299')">JTMHX01J8L4198299</button>
      <button class="dynamic-claim-button sample-button" onclick="setData('JTMABBBJ9P4099243')">JTMABBBJ9P4099243</button>
      <button class="dynamic-claim-button sample-button" onclick="setData('JTMHU09J6E4100543')">JTMHU09J6E4100543</button>
      <button class="dynamic-claim-button sample-button" onclick="setData('JTMABBBJ9P4099200')">JTMABBBJ9P4099200</button>
    </div>

    <label
      >render
      <input onchange="toggleCheckbox(this)" type="checkbox" />
    </label>
    <div id="container"></div>

    <script>
      let vehicleSpecification;

      document.addEventListener('DOMContentLoaded', function () {
        vehicleSpecification = document.getElementById('vehicle-specification');

        vehicleSpecification.setMockData(mockData);

        vehicleSpecification.loadingStateChange = isLoading => {
          console.log('isLoading: ' + isLoading);
        };

        vehicleSpecification.loadedResponse = newResponse => console.log(newResponse);
      });

      function fetchData(newVin) {
        vehicleSpecification.fetchData(newVin);
      }

      function setData(key) {
        vehicleSpecification.setData(mockData[key]);
      }

      function toggleCheckbox(e) {
        const container = document.getElementById('container');
        if (e.checked) {
          const newElement = document.createElement('vehicle-specification');

          newElement.id = 'toggle-item';
          newElement.setAttribute('is-dev', 'true');
          newElement.setAttribute('base-url', 'http://localhost:7174/api/secure-vehicle-lookup-test/');

          newElement.setData(mockData['JTMABBBJ9P4099243']);
          container.appendChild(newElement);
        } else {
          const element = document.getElementById('toggle-item');
          element.parentNode.removeChild(element);
        }
      }
    </script>

    <style>
      .button-container {
        margin-top: 50px;
        border: 1px solid #e1e1e1;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        gap: 10px;
      }
      .sample-button {
        background-color: #428bca;
        padding: 10px 15px;
      }

      .sample-button:hover {
        background-color: #3071a9;
      }
    </style>
  </body>
</html>
