:host {
  all: initial !important;
  display: block;
}

* {
  font-family: Arial;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes popOut {
  0% {
    transform: scale(100%);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.vin-extractor-background {
  pointer-events: none;
}

@media (max-width: 768px) {
  .vin-extractor-container.show-container {
    animation: slideIn 0.5s ease-out forwards;
  }

  .vin-extractor-container.hide-container {
    animation: slideOut 0.5s ease-in forwards;
  }

  .vin-extractor-heading {
    backdrop-filter: blur(6px) !important;
  }
}

.vin-extractor-container[aria-expanded='true'] {
  pointer-events: auto !important;
}

@media (min-width: 768px) {
  .vin-extractor-background[aria-expanded='true'] {
    pointer-events: auto !important;
    backdrop-filter: blur(1.5px);
    background: rgb(0 0 0 / 0.4);
  }

  .vin-extractor-container.show-container {
    animation: popIn 0.3s ease-out forwards;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  }

  .vin-extractor-container.hide-container {
    animation: popOut 0.3s ease-in forwards;
    box-shadow: 0px;
  }
}
