<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Distributor Lookup</title>
    <script nomodule src="/build/shift-components.js"></script>
    <script type="module" src="/build/shift-components.esm.js"></script>
    <script src="./mock-data.js"></script>
  </head>
  <body>
    <a href="#" onclick="history.back()" style="color: blue; display: block; margin-bottom: 16px">Back</a>

    <h1>Distributor Lookup</h1>
    <distributor-lookup
      is-dev="true"
      language="ku"
      query-string=""
      id="distributor-lookup"
      localization-name="arabic"
      hidden-fields="fob, supersededFrom"
      base-url="https://tiq-vehicles-functions.azurewebsites.net/api/secure-part-lookup/"
    >
    </distributor-lookup>

    <div class="button-container">
      <button class="sample-button" onclick="updateLang('en')">En</button>
      <button class="sample-button" onclick="updateLang('ku')">Ku</button>
      <button class="sample-button" onclick="updateLang('ar')">Ar</button>
      <button class="sample-button" onclick="updateLang('ru')">Ru</button>
    </div>

    <div class="button-container">
      <button class="sample-button" onclick="fetchData()">reload</button>
      <button class="sample-button" onclick="fetchData('')">Empty (close)</button>
      <button class="sample-button" onclick="fetchData('error')">Error</button>
      <button class="sample-button" onclick="fetchData('SU00302474')">SU00302474</button>
      <button class="sample-button" onclick="fetchData('SU00302474/1')">SU00302474/1</button>
      <button class="sample-button" onclick="fetchData('SU00302474/11')">SU00302474/11</button>
    </div>

    <script>
      let distributorLookup;

      document.addEventListener('DOMContentLoaded', function () {
        distributorLookup = document.getElementById('distributor-lookup');

        distributorLookup.setMockData(mockData);

        distributorLookup.loadedResponse = newResponse => console.log(newResponse);
        distributorLookup.loadingStateChange = isLoading => {
          console.log('isLoading: ' + isLoading);
        };
      });

      function updateLang(newLang) {
        distributorLookup.language = newLang;
      }

      function fetchData(newVin) {
        distributorLookup.fetchData(newVin);
      }

      function setData(key) {
        distributorLookup.setData(mockData[key]);
      }
    </script>

    <style>
      .button-container {
        margin-top: 50px;
        border: 1px solid #e1e1e1;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        gap: 10px;
      }

      .sample-button {
        background-color: #428bca;
        padding: 10px 15px;
      }

      .sample-button:hover {
        background-color: #3071a9;
      }
    </style>
  </body>
</html>
