<!doctype html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <title>Parts lookup</title>
  </head>
  <body>
    <a href="#" onclick="history.back()" style="color: blue; display: block; margin-bottom: 16px">Back</a>

    <h1>Parts lookup Demo List</h1>
    <ul>
      <li>
        <a href="./part-lookup.html">Parts Lookup</a>
      </li>
      <li>
        <a href="./distributor-lookup.html">Parts - Distributor Lookup</a>
      </li>
      <li>
        <a href="./dead-stock-lookup.html">Parts - Dead Stock Lookup</a>
      </li>
      <li>
        <a href="./manufacturer-lookup.html">Parts - Manufacturer Lookup</a>
      </li>
    </ul>
  </body>
</html>
