<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>General Inquiry Form</title>
    <script nomodule src="/build/shift-components.js"></script>
    <script type="module" src="/build/shift-components.esm.js"></script>
  </head>
  <style>
    body {
      padding: 16px;
    }

    .button-container {
      margin: 50px 0px;
      border: 1px solid #e1e1e1;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      gap: 10px;
    }

    .sample-button {
      background-color: #428bca;
      padding: 10px 15px;
    }

    .sample-button:hover {
      background-color: #3071a9;
    }
  </style>
  <body>
    <a href="#" onclick="history.back()" style="color: blue; display: block; margin-bottom: 16px">Back</a>
    <h1>Contact Us Form</h1>

    <div class="button-container">
      <button class="sample-button" onclick="updateLang('en')">En</button>
      <button class="sample-button" onclick="updateLang('ku')">Ku</button>
      <button class="sample-button" onclick="updateLang('ar')">Ar</button>
      <button class="sample-button" onclick="updateLang('ru')">Ru</button>
    </div>

    <contact-us-form id="contact-us-form" structure='[["div","name"], "email", "cityId", "submit.Submit"]' id="inquiry-form"></contact-us-form>

    <script>
      let contactUsForm;

      document.addEventListener('DOMContentLoaded', function () {
        contactUsForm = document.getElementById('contact-us-form');
      });

      function updateLang(newLang) {
        contactUsForm.language = newLang;
      }
    </script>
  </body>
</html>
