<!doctype html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <title>Forms</title>
  </head>
  <body>
    <a href="#" onclick="history.back()" style="color: blue; display: block; margin-bottom: 16px">Back</a>

    <h1>Forms Demo List</h1>
    <ul>
      <li>
        <a href="./contact-us-form.html">Contact Us form</a>
      </li>
      <li>
        <a href="./service-booking-form.html">Service Booking form</a>
      </li>
    </ul>
  </body>
</html>
