@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
  all: initial !important;
  display: block;
}

* {
  font-family: Arial;
}

.rtl-form-input::placeholder {
  direction: rtl;
  text-align: right;
}
