:host {
  all: initial !important;
  display: block;
}

* {
  font-family: Arial;
}

.service-booking-tiq #container {
  @apply mx-auto max-w-[700px];
}

.service-booking-tiq .vehicleContainer {
  @apply flex  gap-[16px] flex-col sm:flex-row;
}

.service-booking-tiq .vehicleImage {
  @apply flex-1;
}

.service-booking-tiq .vehicleInputContainer {
  @apply flex-1;
}

.service-booking-tiq #vehicleImageElement {
  @apply hidden;
}
